{% extends 'administracion/basecli.html' %}
{% load static %}

{% block titulo %}
Baja Cliente
{% endblock %}

{% block contenido %}
<!--==============================Content=================================-->
<br /> <br /> <br /> <br /> <br /> <br /> <br />
<div class="ic"></div>
<div class="container_12">
    <div class="center">
        <div class="clear"></div>
        <br /> <br />
        <div class="text1 col1"><a>Seleccione el cliente para dar de baja</a> </div>
        <div class="banners">
            {% for product in pkq %}
            <div class="grid_3">
                <div class="card">
                    <div class="card-header">{{product.nombre}} {{product.apellido}} </div>
                    <div class="card-body">
                        <p class="card-text">Pasaporte: {{product.pasaporte}}</p>
                        <p class="card-text">DNI: {{product.dni}}</p>
                        <p class="card-text">Domicilio: {{product.domicilio}}</p>
                        <a href="/clientes/baja-cliente/{{product.id}}/" class="btn btn-primary">Eliminar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}