{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
	<title>
		Panel Administración
	</title>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no" />
	<link rel="icon" href="{% static 'images/favicon.ico' %}">
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
	<link rel="stylesheet" href="{% static 'booking/css/booking.css' %}">
	<link rel="stylesheet" href="{% static 'css/camera.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

	<style>
		body {
			background-color: #002747;
		}
	</style>
</head>

	<!--==============================header=================================-->
	<header>
		<div class="container_12">
			<nav class="nav nav-pills flex-column flex-sm-row">
				<a class="flex-sm-fill text-sm-center nav-link active" href="/clientes/clientes-main/"> CLIENTES</a>
				<a class="flex-sm-fill text-sm-center nav-link active" href="/paquetes/paquetes-main/">PAQUETES</a>
				<a class="flex-sm-fill text-sm-center nav-link active" href="/logout/">SALIR</a>
			</nav>
			<div class="clear"></div>
			<div class="center">
				<br />
				<img src="{% static 'images/logo_4.png' %}">
			</div>
		</div>

		<div class="center">
			<br /><br />
			<div class="text2 col1"><a>Panel de Administración </a> </div>
		</div>
	</header>

<body class="page1" id="top">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/booking/js/jquery.js"></script>
	<script src="/booking/js/jquery-migrate-1.2.1.js"></script>
	<script src="/booking/js/script.js"></script>
	<script src="/booking/js/superfish.js"></script>
	<script src="/booking/js/jquery.ui.totop.js"></script>
	<script src="/booking/js/jquery.equalheights.js"></script>
	<script src="/booking/js/jquery.mobilemenu.js"></script>
	<script src="/booking/js/jquery.easing.1.3.js"></script>
	<script src="/booking/js/owl.carousel.js"></script>
	<script src="/booking/js/camera.js"></script>
	<script src="/booking/js/jquery.mobile.customized.min.js"></script>
	<script src="/booking/js/booking.js"></script>
</body>

</html>